[Unit]
Description=nextdeparture
After=network.target

[Service]
Environment=PORT=8084
Environment=REAL_TIME_DEPARTURES_V4_KEY=<insert key>
Type=simple
User=nextdeparture
ExecStart=/usr/local/bin/node /srv/next-departure/dist/app.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target